@charset "utf-8";
/* CSS Document */

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1150px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	
	z-index:-4;
	display:inline;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}

p {
	cursor:default;
}

.text {
	font-family:'Neon 80s';
	font-size:14px;
	color:#DFDFDF;
}

#header_back {
	background:url('/images/header_back.jpg') repeat-x;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	min-width:1020px;
	height:30px;
}

#body {
	width:1000px;
	margin:0px auto;
}

.header_link {
	float:left;
	width:60px;
	height:22px;
	text-align: center;
	margin-left:50px;
	color:#CCC;
	font-size:13px;
	font-family:"Neon 80s";
	
}

.header_first {
	margin-left:570px;
}

.header_link:hover {
	color:#FFF;
}

#logo {
	background:url('/images/logo.png') no-repeat;
	width:300px;
	height:84px;
	float:left;
	margin-left:22px;
}

#arrow {
	float:right;
	margin-top:3px;
}

#dropdown_container {
	float:left;
	margin:0px 0px 0px 500px;
	height:70px;
	width:140px;
	overflow:hidden;
}

#dropdown {
	float:left;
	position:relative;
	top:-70px;
	margin:0px 0px 0px 0px;
	width:140px;
	height:70px;
	background-color:#000;
	z-index:-1;
	overflow:hidden;
}

#input_login {
	width:41px;
	height:16px;
	margin:5px 0px 0px 47px;
	clear:none;
}

#input_login:hover {
	opacity:.8;
	filter:alpha(opacity=80);
}

#forgot {
	float:left;
	clear:both;
	margin: 8px 0px 0px 10px;
	font-family:'Neon 80s';
	font-size:10px;
	color:#ccc;
	
}

.darken {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	z-index:10;
	cursor:pointer;
}

.centered {
	position:fixed;
	top:300px;
	left:50%;
	width:600px;
	margin-left:-300px;
	text-align:center;
	z-index:15;
}

.x {
	position:fixed;
	top:308px;
	left:50%;
	z-index:16;
	margin-left:270px;
	width:25px;
	height:25px;
	cursor:pointer;
}

.username {
	float:left;
	clear:both;
	margin:6px 0px 0px 9px;
	width:120px;
	height:12px;
	font-family:'Neon 80s';
	font-size:12px;
	color:#fff;
	background:#313131;
}

.red_back {
	background-color:#950000;
}

.red {
	color:#CA0000;
}

	