@charset "utf-8";
/* CSS Document */

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1150px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	
	z-index:-4;
	display:inline;
}

/*
@media screen and (max-width: 1024px) { /* Specific to this particular image 
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% 
	}
}
*/

p {
	cursor:default;
}

a {
	text-decoration:none;
	color:#CCC;
}

/*IE fix for blue image borders*/
a img{
	border:none;
}

.text {
	/*font-family:"Gill Sans MT";*/
	/*font-family:"Museo Sans Cyrl 500";*/
	/*font-family:"Calluna Sans";*/
	font-family:'Neon 80s';

	font-size:13px;
	color:#DFDFDF;
}

#header_back {
	background:url(../images/header_back.jpg) repeat-x;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	min-width:1020px;
	height:30px;
}

#body {
	width:1000px;
	margin:0px auto;
	
}

.header_link {
	float:left;
	width:100px;
	height:22px;
	text-align: center;
	margin-left:10px;
	color:#CCC;
	font-size:13px;
	font-family:"Neon 80s";
	
}

.header_first {
	margin-left:550px;
}

.header_link:hover {
	color:#FFF;
}

#logo {
	background:url(../images/logo.png) no-repeat;
	width:300px;
	height:84px;
	float:left;
	margin-left:22px;
	padding-bottom:20px;
}

#arrow {
	float:right;
	margin-top:3px;
}

#dropdown_container {
	float:left;
	margin:0px 0px 0px 557px;
	height:100px;
	width:115px;
	overflow:hidden;
}

#dropdown {
	float:left;
	position:relative;
	top:-115px;
	margin:0px 0px 0px 0px;
	width:115px;
	height:100px;
	background-color:#000;
	z-index:-1;
	overflow:hidden;
}

.darken {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	z-index:10;
	cursor:pointer;
}

.centered {
	position:fixed;
	top:300px;
	left:50%;
	width:600px;
	margin-left:-300px;
	text-align:center;
	z-index:15;
}

.x {
	position:fixed;
	top:308px;
	left:50%;
	z-index:16;
	margin-left:270px;
	width:25px;
	height:25px;
	cursor:pointer;
	color:#0C3;
	font-size:18px;
}

#alert_confirmation {
	background:#000;
	width:600px;
	height:200px;
	border:#0C3 solid 1px;
}

.confirm_button {
	float:left;
	cursor:pointer;
	margin:40px 0px 0px 50px;
}

.confirm_button#yes {
	clear:both;
	margin-left:190px;
}

.confirm_button:hover {
	opacity:.85;
	filter:alpha(opacity=85);
}

.alert_main_confirm {
	float:left;
	clear:both;
	width:500px;
	margin: 35px 0px 0px 50px;
	text-align:center;
	font-size:15px;
}

.alert_main_val {
	float:left;
	clear:both;
	width:600px;
	height:16px;
	font-size:16px;
	color:#FF3;
}

.my_account {
	float:left;
	clear:both;
	width:115px;
	height:18px;
	background-color:#000;
	text-align:left;
	margin:0px 0px 0px 0px;
	padding:5px 0px 2px 5px;
	cursor:pointer;
	color:#D9D900;
	font-size:12px;
	border-top:#222solid 1px;
}

.my_account:hover {
	color:#FFFF71
}

.logout {
	color:#DFDFDF;
}

.logout:hover {
	color:#fff;
}

#header2_back {
	width:954px;
	height:50px;
	float:left;
	clear:both;
	margin:20px 0px 0px 29px;
}

.header_light {
	width:171px;
	height:40px;
	float:left;
	margin:0px 0px 0px 2px;
	background:url(../images/member/header_light.png) no-repeat;
}

.header_dark {
	width:171px;
	height:50px;
	float:left;
	margin:0px 0px 0px 2px;
	background:url(../images/member/header_dark.png) no-repeat;

}

.header2 {
	color:#04B30D;
	font-size:17px;
	text-align:center;
	padding-top:10px;
}

/*red input boxes*/
.red_back {
	background-color:#950000;
}

.red {
	color:#CA0000;
}

.yellow {
	color:#ff3;
}

.green {
	/*color:#44b20f;*/
	color:#04B30D;
}

/*overlapping classes for alert_w_txt classes (change.php and calendar.php)*/
.alert_title {
	float:left;
	font-size:16px;
	color:#0C3;
	font-size:20px;
	margin:10px 0px 0px 10px;
	text-align:left;
	width:300px;
}

.alert_main {
	float:left;
	clear:both;
	width:500px;
	margin: 40px 0px 0px 50px;
	text-align:center;
	font-size:16px;
}

/*overlapping bottom "Questions?" div for account.php and subscription.php*/
#body_bottom_account {
	width:700px;
	height:25px;
	margin:0px 0px 0px 30px;
	background:#000;
	opacity:.5;
	filter:alpha(opacity=50);
	float:left;
	clear:both;
	color:#ccc;
	text-align:center;
	padding-top:5px;
	cursor:default;
}

/*alert box back for account and contact*/
.alert_back {
	background:#000;
	width:600px;
	height:auto;
	min-height:100px;
	padding-bottom:40px;
	border:#0C3 solid 1px;
}

/*dropdown/text box code*/
.drop {
	color:#fff;
	width:200px;
	font-size:15px;
	float:left;
	clear:both;
	margin:5px 0px 0px 90px;
	/*background-color:#313131;*/
	background-color:#222;
	padding-left:5px;
}
