@charset "utf-8";
/* CSS Document */


#body_main {
	background:url(../images/home_body.png) no-repeat;
	width:1000px;
	height:680px;
	float:left;
	clear:both;
	margin-top:60px;
}

#body_bottom {
	width:954px;
	float:left;
	clear:both;
	margin-left:23px;
	height:0px;
	background:url(../images/home_bottom_bar.png) repeat-y;
}

.how_what {
	width:380px;
	height:260px;
	float:left;
	margin-left:80px;
	margin-top:10px;

}

#what {
	clear:both;
}

#what_img {
	float:left;
	margin-left:50px;
	margin-top:55px;
}


#how_img {
	float:left;
	margin-left:45px;
	margin-top:55px;
}

.how_what_box {
	float:left;
	margin:180px 0px 0px 390px;
	opacity:0;
}

#how_box {
	margin-left:50px;
}

.text {
	float:left;
	text-align:justify;
	margin: 0px;
	font-family:'Neon 80s';
	font-size:13px;
	color:#F5F5F5;
	opacity:0;
	width:370px;
}

.title {
	color:#44b20f;
	font-size:18px;
	margin-top:5px;
}
	
