@charset "utf-8";
/* CSS Document */

#body_main {
	background:url(../images/home_body.png) no-repeat;
	width:1000px;
	height:760px;
	float:left;
	clear:both;
	margin-top:-20px;
}

#body_bottom {
	width:954px;
	float:left;
	clear:both;
	margin-left:23px;
	height:0px;
	background:url(../images/home_bottom_bar.png) repeat-y;
}

.how_what {
	width:380px;
	height:260px;
	float:left;
	margin-left:85px;
	margin-top:10px;
}

#what {
	clear:both;
}

#what_img {
	float:left;
	margin-left:50px;
	margin-top:55px;
}


#how_img {
	float:left;
	margin-left:45px;
	margin-top:55px;
}

.how_what_box {
	float:left;
	margin:260px 0px 0px 390px;
	opacity:0;
}

#how_box {
	margin-left:50px;
}

.how_what_text {
	float:left;
	text-align:justify;
	opacity:0;
	filter:alpha(opacity=0);
	width:370px;
	font-size:13px;
}

.title {
	color:#44b20f;
	font-size:18px;
	margin-top:5px;
}

#pricing {
	float:left;
	clear:none;
	margin:30px 0px 0px 30px;
}

#pricing:hover {
	filter:alpha(opacity=85);
	opacity:.85;
}

.quote {
	clear:both;
	opacity:1;
	width:340px;
}
	
.quote_box {
	clear:both;
	float:left;
	margin:5px 0px 0px 80px;
	width:340px;
	height:60px;
}

#second {
	clear:none;
	margin-left:30px;
}

.quote_name {
	width:340px;
	text-align:right;
	opacity:1;
}

/*
.username {
	float:left;
	clear:both;
	margin:7px 0px 0px 9px;
	width:120px;
	height:12px;
	font-family:'Neon 80s';
	font-size:12px;
	color:#666;
}
*/

#preview {
	float:right;
	clear:both;
	margin-right:10px;
	opacity:0;
	filter:alpha(opacity=0);
	display:none;
}

#preview:hover {
	opacity:.85;
	filter:alpha(opacity=85);
}

#next_month {
	float:left;
	clear:both;
	margin:25px 0px 0px 23px;
	width:955px;
	text-align:center;
}

#activities_container {
	float:left;
	width:370px;
	height:65px;
	overflow:hidden;
	margin:3px 0px 0px 33px;
}

#activities_inner_container {
	float:left;
	width:1000px;
	margin-left:-200px;
}

.activities_slide {
	width:200px;
	float:left;
	position:relative;
	margin:0px 0px 0px 285px;

}

#activities_slide2{
	margin-left:85px;
}

.activity_name {
	width:100%;
	text-align:center;
	font-size:1.2em;
	margin-bottom:-2px;
}

.activity_img {
	float:left;
	margin-left:65px;
}
	
.savings {
	float:left;
	width:20px;
	text-align:center;
	margin:12px 0px 0px 5px;
	line-height:12px;
}

.arrow {
	float:left;
	margin: 30px 0px 0px 270px;
}

#next_arrow {
	margin-left:33px;
}