@charset "utf-8";
/* CSS Document */

#body_main {
	width:930px;
	height:618px;
	float:left;
	clear:both;
	margin: -1px 0px 0px 30px;
}

#body_left {
	width:650px;
	height:618px;
	float:left;
	background:url(../images/blank_back.png);
}

#body_right {
	width:280px;
	height:400px;
	background:url(../images/member/body_side.png) no-repeat;
	float:left;
}

div.calendar_day {
	width:75px;
	height:75px;
	float:left;
	margin-left:2px;
}

div.calendar_light {
	background:#444;
	border:#999 solid 1px;
	margin-left:0px;
}

div.calendar_dark {
	background:#333;
	border:#999 solid 1px;
	margin-left:0px;

}

.week_first {
	clear:both;
}

p.calendar_day_text {
	float:left;
	margin:2px 0px 0px 2px;
	height:14px;
}

p.activity {
	float:left;
	clear:both;
	width:73px;
	text-align:center;
	margin:0px 0px 0px 1px;
	height:56px;
	font-size:12px;
	color:#fff;
}

.transparent {
	opacity:.5;
	filter:alpha(opacity=50);
}

div.today {
	background-color:#006C00;
}

div#calendar {
	width:539px;
	height:450px;
	margin:15px 0px 0px 55px;
	float:left;
	clear:both;
}

#month {
	width:164px;
	height:22px;
	float:left;
	margin:25px 0px 0px 255px;
}

.arrow {
	width:14px;
	height:20px;
	float:left;
	margin-top:2px;
	cursor:pointer;

}

#left_arrow {
	background:url(../images/calendar/left_arrow.png) no-repeat;
}

#right_arrow {
	background:url(../images/calendar/right_arrow.png) no-repeat;
	float:right;
}

.activity_month {
	color:#fff;
	font-size:22px;
	width:120px;
	height:22px;
	text-align:center;
	margin: -2px 0px 0px 20px;
}

/*days of the week header*/
div#days_of_week {
	width:539px;
	height:18px;
	float:left;
	clear:both;
	margin:10px 0px 0px 55px;
}

p.day_of_week {
	width:77px;
	float:left;
	text-align:center;
}

#body_right > p:first-child, #body_right > p:nth-child(2)  {
	width:280px;
	float:left;
	clear:both;
	text-align:center;
}

/*my_activities section*/
p.my_activities_title {
	font-size:20px;
	margin:30px 0px 0px 0px;
	
	
}

p.my_activities_title_clarify {
	font-size:11px;
	margin:0px 0px 0px 0px;
}

p.activity_bar {
	width:180px;
	height:18px;
	text-align:center;
	background-color:#006C00;
	font-size:14px;
	margin-top:0px;
	padding-top:2px;
	cursor:pointer;
	color:#ff3;
}

p.activity_reserved {
	background-color:#222;
	color:#CCC;
}

div#my_activities_container {
	float:left;
	clear:both;
	width:180px;
	margin:5px 0px 0px 50px;
}

div.activity_holder {
	width:180px;
	height:18px;
	float:left;
	clear:both;
	margin:2px 0px 2px 0px;
}

div.drophover {
	background-color:#999;
}

.reserve{
	display:none;
}