@charset "utf-8";
/* css for individual activity /application/member/activity/index.php */

a {
	text-decoration:underline;
}

#body_main {
	width:900px;
	height:700px;
	margin-left:23px;
	float:left;
	clear:both;
	background:url(/images/activity/back.png) no-repeat;
}

#body_bottom{
	width:900px;
	margin-left:23px;
	float:left;
	clear:both;
	background:url(/images/blank_back.png);
}

#activity_title_container {
	float:left;
	clear:both;
	width:335px;
	margin:9px 0px 0px 10px;
	text-align:center;
	
}

#activity_title {
	font-size:26px;
	margin:0px;
	color:#44b20f;
}
	

#activity_type {
	float:left;
	clear:both;
	margin-top:0px;
	color:#44b20f;
	text-align:center;
	font-size:15px;
	width:335px;
}

#savings {
	float:right;
	clear:both;
	margin:-10px 30px 0px 0px;
	color:#44b20f;
	font-size:20px;
}

#body_left {
	float:left;
	clear:both;
	width:600px;
	height:600px;
}

#body_right {
	float:left;
	width:300px;
	height:600px;
}

/*subtitle and the values of activity_desc*/
.subtitle_container {
	float:left;
	width:440px;
	margin:30px 0px 0px 80px;
}

.subtitle_container:first-child {
	margin-top:10px;
}

.subtitle {
	float:left;
	margin:0px;
	font-size:17px;
	width:140px;
}

.subtitle_value {
	float:left;
	clear:both;
	margin:5px 0px 0px 0px;
	width:inherit;
	text-align:justify;
	font-size:15px;
}


.details_left {
	float:left;
}

.details_right {
	float:right;
	width:190px;
	display:none;
}

.details_title,.details_subtitle{
	float:left;
	clear:left;
	width:80px;
	margin:15px 0px 0px 0px;
	font-size:14px;
	color:#FCDD03;
}

.details_title:first-child {
	margin-top:0px;
}

.details_subtitle {
	clear:none;
	width:130px;
	margin:17px 0px 0px 0px;
	font-size:12px;
	color:#fff;
}

.details_second_line {
	margin-top:2px;
	margin-left:80px;
	clear:both;
}
	

/*code for Directions link in details section*/
a.details_subtitle {
	color:#FCDD03;
	text-decoration:underline;
	width:auto;
}

.rating {
	float:left;
	margin:-1px 0px 0px 0px;
}

.details_link {
	float:left;
	color:#FF3;
	margin:2px 0px 0px 15px;
	text-decoration:underline;
	font-size:12px;
}

.details_redemption {
	margin-top:1px;
	font-size:13px;
}

.redemption_link {
	color:#FCDD03;
	text-decoration:underline;
}

.button {
	cursor:pointer;
	float:right;
	margin:15px 30px 0px 0px;
}

.button:hover {
	opacity:.85;
	filter:alpha(opacity=85);
}

#activity_image {
	float:right;
	margin:110px 30px 0px 0px;
	width: 280px;
	border:2px solid #fff;
}

#maps_image {
	float:right;
	clear:both;
	margin:20px 30px 0px 0px;
	opacity:.8;
	filter:alpha(opacity=80);
}


/*main selectable box with what,details,need*/
.box_deselect {
	float:left;
	width:100px;
	height:25px;
	font-size:17px;
	color:#666;
	text-align:center;
	padding-top:5px;
	margin:0px 0px 0px 0px;
	cursor:pointer;
}

.box_deselect:hover {
	color:#999;
}

.box_select {
	background:#222;
	color:#FCDD03;
}

.box_select:hover {
	color:#FCDD03;
}

#box_background {
	width:inherit;
	height:auto;
	background:#222;
	float:left;
	clear:both;
}

.box_name {
	float:left;
	margin:30px 0px 0px 20px;
	padding-bottom:30px;
	width: 400px;
	display:none;
}

.box_inner {
	float:left;
	clear:both;
	margin: 0px 0px 0px 0px;
	font-size:15px;
	text-align:justify;
}

.box_need_container{
	width:200px;
	float:left;
}

#box_need_right {
	font-size:13px;
}

#box_need_left {
	font-size:17px;
}

.box_need_title, .box_need_title_right {
	float:left;
	margin:0px 0px 0px 0px;
	width:130px;
	font-size:inherit;
}

.box_need_title_right {
	float:left;
	clear:both;
	margin:7px 0px 0px 15px;
	width:75px;
}

.box_need_title_right:first-child {
	margin-top:3px;
}

.box_need_val,.box_need_val_right {
	float:left;
	clear:both;
	margin:10px 0px 0px 15px;
	font-size:14px;
	width:180px;
}

.box_need_val_right {
	clear:none;
	font-size:inherit;
	width:105px;
	margin: 7px 0px 0px 5px;	
}

#reservation_needed {
	margin-top:3px;
}

.box_second_line {
	margin-top:15px;
}

/*qualifiers for text*/
.yellow {
	color:#FCDD03;
}

.small {
	font-size:13px;
}

.select {
	display:block;
}

#the_box {
	height:350px;
}

.reservation_date {
	float:right;
	clear:both;
	font-size:14px;
	margin:5px 35px 0px 0px;
	color: #D00/*#44b20f green*/;
	padding-left:3px;
}

.alert_main_val {
	color:#D00;
}