@charset "utf-8";
/* CSS Document */

#body_main {
	width:930px;
	height:620px;
	float:left;
	clear:both;
	margin:0px 0px 0px 30px;
	
}


/*top_right section*/
#top_left {
	width:285px;
	height:60px;
	float:left;
	background:#000;
	opacity:.85;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
}

.right_centered {
	width:275px;
	text-align:center;
	margin:5px 0px 0px 5px;
	float:left;
}

.top_right_large {
	font-size:20px;
}

.top_right_small {
	font-size:14px;
}

#top_right_month {
	margin-top:0px;
}

#top_right_new {
	margin-top:10px;
}

#top_left_balance {
	margin:7px 0px 0px 125px;
	float:left;
	font-size:17px;
}

.red {
	color:#CA0000;
}
/*end top_right section*/

/*body_left section*/
#body_left_back {
	width:638px;
	height:500px;
	float:left;
	clear:both;
	margin:0px 0px 0px 0px;
	background:#000;
	opacity:.85;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	position:relative;
	z-index:-1;

}

#body_left {
	width:638px;
	min-height:280px;
	float:left;
	margin:0px 0px 0px 0px;
}

#body_left_directions {
	float:left;
	margin:9px 0px 0px 40px;
}

#body_left_title_bar {
	float:left;
	width:638px;
	height:20px;
	padding:4px 0px 4px 0px;
	background:#333;
	margin:10px 0px 4px 0px;
}

.body_left_title {
	float:left;
	margin:0px 0px 0px 50px;
	width:100px;
	font-size:18px;
}

.body_left_bar {
	float:left;
	width:638px;
	height:20px;
	padding:2px 0px 2px 0px;
	margin:2px 0px 0px 0px;
	background:#222;

}

.body_left_bar_solo {
	background: #333;
}

.body_left_bar_selected {
	background:#003E00;
}


/*values of each activity within bar*/
.body_left_checkbox {
	float:left;
	margin:5px 0px 0px 20px;
	
}

.body_left_val {
	float:left;
	width:200px;
	margin:2px 0px 0px 20px;
	font-size:15px;
}

.body_left_activity {
	width:200px;
	margin: 0px 0px 0px 50px;
}

.body_left_cost {
	width:50px;
	margin-left:20px;
	text-align:center;
}

.body_left_save {
	margin-left: 30px;
	width:80px;
	text-align:center;
}

.body_left_details {
	margin: 0px 0px 0px 40px;
	width:80px;
	text-align:center;
}

.body_left_qty {
	margin-left:20px;
	width:50px;
	text-align:center;
}

.body_left_qty.drop {
	float:left;
	clear:none;
	width:18px;
	padding-left:0px;
	padding-right:1px;
	padding-top:3px;
	height:10px;
	font-size:12px;
	margin:2px 0px 0px 28px;
	border:1px #999 solid;
}

.body_left_details.body_left_val {
	margin:5px 0px 0px 43px;
	text-decoration:underline;
	font-size:11px;
	cursor:pointer;
}

/* end values of each activity within bar*/

/*bottom buttons of body_left*/
#cancel {
	float:left;
	clear:both;
	margin:60px 0px 20px 50px;
}

#back_button {
	float:left;
	clear:both;
	margin:62px 0px 0px 30px;
	font-size:12px;
}

.button {
	cursor:pointer;
}

.button:hover {
	opacity:.85;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
}

#input_submitter {
	float:left;
	margin:37px 0px 20px 430px;
}

/*end buttons*/
/*end body_left section*/

/*bottom_right section*/


#bottom_right_container {
	float:right;
	width:292px;
	height:370px;
}

#bottom_right{
	float:left;
	width:284px;
	min-height:350px;
	background:#000;
	margin:0px 0px 0px 0px;
	padding-bottom:20px;
	opacity:.9;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
}

#separator {
	width:8px;
	float:left;
	background:#000;
	opacity:.65;
	filter:alpha(opacity=65);
	-moz-opacity:0.65;
	-khtml-opacity: 0.65;	
	margin-top:0px;
	height:100%;
}

.bottom_right_desc {
	float:left;
	margin:40px 0px 0px 40px;
	font-size:14px;
	width:205px;
}

#bottom_right_ajax {
	display:none;
}

#bottom_right_name {
	float:left;
	margin-top:15px;
	font-size:18px;
}

#bottom_right_type {
	float:left;
	margin-top:0px;
	color:#FF3;
}

.bottom_right_img_container {
	float:left;
	clear:both;
	width:240px;
	height:160px;
	margin:10px 0px 0px 22px;
	overflow:hidden;
}

.bottom_right_img {
	float:left;
	height:160px;
	width:auto;
	margin-left:-5px;
}

#bottom_right_text {
	float:left;
	clear:both;
	width:260px;
	margin:10px 0px 0px 12px;
	text-align:justify;
	
}

#bottom_right_reserve {
	float:left;
	clear:both;
	margin:10px 0px 0px 12px;
	text-align:center;
	width:260px;
	color:#FF3;
}

#bottom_right_map {
	opacity:.85;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
}


/*end bottom_right section*/

/*alert boxes*/
.x,.centered,.darken {
	display:none;
}

#leftover_tokens {
	color:#0C3;
}

.leftover_button {
	float:left;
	margin:40px 0px 0px 40px;
}

#refund {
	margin-left:125px;
}

#back_home {
	float:right;
	clear:both;
	margin:20px 0px 0px 0px;
	text-decoration:underline;
}
/*end alert boxes*/

/*general additions*/


.dark_text {
	color:#999;
}
