@charset "utf-8";
/* CSS Document */

#background_small {
	width:380px;
	height:438px;
	background: url(../../images/signup/background_small.png) no-repeat;
	position:absolute;
	top:50%;
	left:50%;
	margin:-219px 0px 0px -190px;
	text-align:center;
}

#background_big {
	width:550px;
	height:438px;
	background: url(../../images/signup/background_big.png) no-repeat;
	position:absolute;
	top:50%;
	left:50%;
	margin:-219px 0px 0px -275px;
	text-align:center;
}

/*yellow title of signup forms*/
.title {
	width:380px;
	float:left;
	margin:20px 0px;
	color:#fff601;
	font-size:24px;
}

/*progress bar*/
.position {
	margin-top: 20px;
}

.back {
	position:absolute;
	top:50%;
	left:50%;
	margin:195px 0px 0px -165px;
	text-decoration:none;
	color:#0C3;
	cursor:pointer;
}

.next_button {
	position:absolute;
	top:50%;
	left:50%;
	margin:155px 0px 0px 55px;
}

.next_button:hover {
	opacity:.85;
	filter:alpha(opacity=85);
}

/*title for text boxes*/
.box_title,.box_title_close {
	margin: 45px 0px 0px 0px;
	float:left;
	clear:both;
	font-size:20px;
	width:380px;
	color:#fff;
}

.box_title_close {
	margin: 20px 0px 0px 0px;
}

.box_title_close:first-child {
	margin-top: 10px;
}

.box_title:first-child {
	margin-top:50px;
}


/*text boxes*/
.drop {
	color:#fff;
	width:200px;
	font-size:15px;
	float:left;
	clear:both;
	margin:5px 0px 0px 90px;
	background-color:#313131;
	padding-left:5px;
}

select.drop {
	width:210px;
	height:24px;
}

.box_title_lower {
	font-size:11px;
	float:left;
	clear:both;
	height:11px;
	width:380px;
	margin:5px 0px 0px 0px;
}


/*radio buttons*/
.package {
	margin:25px 0px 0px 70px;
	float:left;
	clear:both;
	
}

.package_title {
	float:left;
	width:100px;
	margin: 20px 0px 0px 15px;
	font-size:19px;
	text-align:left;
}

.package_cost {
	float:left;
	width:100px;
	margin: 20px 0px 0px 10px;
	font-size:19px;
	text-align:left;
}

/*start date classes*/
.when_title {
	float:left;
	clear:both;
	font-size:12px;
	width:200px;
	margin:30px 0px 0px 90px;
}

select#when {
	width:150px;
	margin-left:115px;
}

.auto {
	float:left;
	clear:both;
	margin:15px 0px 0px 115px;
}

.renew {
	float:left;
	font-size:12px;
	margin:15px 0px 0px 10px;
}


/*altered css for final signup page (review page)*/
/*title for review page*/
#review {
	width:550px;
	margin-bottom: 5px;
}

#back {
	margin-left: -250px;
}

/*review box titles*/

.review_box {
	width:520px;
	height:30px;
	background: url(../images/signup/review_box.png) no-repeat;
	float:left;
	margin:-2px 0px -2px 46px;
}

.review_box_text {
	color:#0C3;
	width:82px;
	float:left;
	margin:6px 0px; 
	text-align:center;
	font-size:11px;
}

.edit {
	color:#0C3;
	text-decoration:none;
	float:right;
	clear:both;
	margin:-3px 50px 0px 0px;
}

.key {
	width:100px;
	font-size:11px;
	float:left;
	clear:both;
	margin:3px 0px 0px 55px;
	text-align:left;
}

.value {
	width:200px;
	font-size:11px;
	float:left;
	margin:3px 0px 0px 0px;
	text-align:left;

}

#Total {
	color:#FF3;
}
	
/*paypal and google checkout buttons*/
.pay_button {
	float:left;
	clear:both;
	width:150px;
	height:18px;
	margin:35px 0px 0px 110px;
	background-color:#666;
}

#or {
	float:left;
	text-align:center;
	width:35px;
	font-size:11px;
	margin:37px 0px 0px 0px;
}

#google_co {
	clear:none;
	margin-left:0px;
}
	
/*city unavailable*/
.unavailable {
	color:#0C3;
	font-size:18px;
	float:left;
	clear:both;
	width:320px;
	margin:110px 0px 0px 30px;
}

#unavailable {
	color:#FF3;
	font-size:14px;
	margin-top:140px
}

/*login*/
.login {
	margin-top:40px;
}

#password_title {
	margin-top:20px;
}

.submit {
	float:right;
	margin:50px 20px 0px 0px;
}

.forgot {
	float:left;
	clear:both;
	color:#0C3;
	margin:78px 0px 0px 20px;
	font-size:11px;
	
}

.inspire {
	float:left;
	clear:both;
	width:390px;
	text-align:center;
	color:#FF3;
	font-size:10px;
	margin:50px 0px 0px 0px;
}

#author {
	float:right;
	clear:both;
	width:75px;
	margin:3px 60px 0px 0px;
}

/*code for member/change.php*/
.change_subtitle {
	margin-top:60px;
}

#change_forgot {
	text-decoration:underline;
	color:#04B30D;
}

.red_back {
	background-color:#950000;
}

#alert_confirm {
	background:#000;
	width:600px;
	height:200px;
	border:#0C3 solid 1px;
}

.alert_main {
	float:left;
	clear:both;
	width:500px;
	margin: 20px 0px 0px 50px;
	text-align:center;
	font-size:15px;
}

.alert_main_val {
	float:left;
	clear:both;
	width:600px;
	height:16px;
	font-size:16px;
	color:#FF3;
}

.button {
	float:left;
	cursor:pointer;
	margin:40px 0px 0px 50px;
}

.button:hover {
	opacity:.85;
	filter:alpha(opacity=85);
}

.yes {
	clear:both;
	margin-left:190px;
}

.fail {
	margin:-20px 0px -14px 0px;
	height:14px;
	font-size:14px;
}
